body{
    height: 100vh;
}

.side{
    height: 100vh;
}
.fc{
    width: 31%;
}

@media(max-width:900px)
{
    .fc{
        width: 48%;
    }
    .rea-items{
        flex-direction: column;
    }
}

.for-mobile{
    display: none;
}

.menu-burger{
    display: none;
}

@media(max-width: 779px)
{
    .menu-burger{
        display: block;
    }
    .for-mobile{
        display: block;
    }
    .for-pc{
        display: none;
    }
    .name{
        font-size: 0.6rem;
    }
    .name h2{
        font-size: 0.8rem;
    }
    .side{
        transform: translateX(-100%);
    }
    .menu-burger:hover{
        cursor: pointer;
    }
    .side.in{
        transform: translateX(0);
        transition: all 500ms;
        position: fixed;
        top:0;
        left:0;
        z-index: 10;
    }
    .menu-burger.in{
        transition: all 500ms;
        left:135px;
    }
    .content{
        flex-grow: 0!important;
        flex-shrink: 0!important;
        flex-basis: fit-content!important;
    }
    .techno-main{
        padding-top: 4rem!important;
    }
}

@media(max-width:679px)
{
    .fc{
        width: 98%;
    }
}

.rea-desc{
    flex: 1 1 0;
}
.rea-img{
    flex: 2 1 0;
}
.side{
    overflow: hidden;
}

.logo-technos img{
    margin-top: 25px;
    height: 50px;
}

.logo-technos{
    flex-wrap: wrap;
}

